# Main dependencies
elasticsearch  # Elasticsearch client for Python
boto3  # AWS SDK for Python
aiobotocore  # Asynchronous version of boto3
asyncio  # Library for writing concurrent code using the async/await syntax
aiohttp  # Asynchronous HTTP client/server framework for asyncio

# Development dependencies
pylint  # Python code linter for identifying and reporting on patterns in Python
locustio  # Load testing tool for measuring system performance

# Testing dependencies
pytest  # Testing framework for Python
requests  # HTTP library for making requests in Python (used for testing)
