elasticsearch  # https://pypi.org/project/elasticsearch/
boto3  # https://pypi.org/project/boto3/
aiobotocore  # https://pypi.org/project/aiobotocore/
asyncio  # https://pypi.org/project/asyncio/
aiohttp  # https://pypi.org/project/aiohttp/

# for dev
pylint  # https://pypi.org/project/pylint/
locustio  # https://pypi.org/project/locust/

# for tests
pytest  # https://pypi.org/project/pytest/
requests  # https://pypi.org/project/requests/
